@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a{
    color: black;
}
a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

/*
    Pantalla de carga
*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: url('/img/loading.gif') 50% 50% no-repeat #002f4d;
    opacity: 0.8;
    transition-property: all;
    transition-duration: .6s;
    }



/*
    Sidebar
*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}
#sidebar ul.components {
    padding: 20px 0;

}
#sidebar ul p {
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background: #0d6efd;
}
#sidebar {
    margin-left: -250px;
    width: 250px;
    top: 0;
    left: 0;
    height: auto;
    z-index: 999;
    background: white;
    transition: all 0.3s;
}
.active {
    color: white;
    background: #0d6efd;
}


/*
    icon menu desplegable
*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



/*
    Informacion sobres filtros actuales y categorias
*/
.info-filter-header{
    --bs-gutter-x: 0;
}



/*
    paginación
*/
.pagination ul{
  margin: auto;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.pagination ul li{
  color: #0d6efd;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: #0d6efd;
}





/*
    Search y filtros
*/
.caja{
    width: 80%;
    margin: 2%;
    float: left;
    position: relative;
}
.caja_filtro{
    float: left;
    margin-top: 2.5%;
}
.buscar:focus{
    background: white;
    color: black;
    box-shadow: 0 0 10px #AB915F;
}




